serverPort=30001

dbName=aslmq_db
dbHost=54.164.111.32
dbPort=40001
dbUser=aslmq_user
dbPassword=asldb

monitorDbName=aslmq_monitor_db
monitorDbHost=54.164.111.32
monitorDbPort=40001
monitorDbUser=aslmq_monitor_user
monitorDbPassword=asldb
